@import url(../../App.css);

#calcContainer {
  grid-area: b;
  width: 100%;
  padding: 1rem;
}

#billAmount {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
}

#amount {
  background-image: url(../../images/icon-dollar.svg);
}

#people {
  background-image: url(../../images/icon-person.svg);
}

#amount,
#people {
  padding: 0 5%;
  width: 100%;
  height: 30px;

  background-color: var(--veryLight);
  border-radius: 3px;
  border: none;
  text-align: end;
  background-size: 0.75em;
  background-position: 5% 50%;
  background-repeat: no-repeat;
}

#amount::placeholder,
#people::placeholder {
  color: var(--veryDark);
  font-weight: var(--bold);
  text-align: end;
}

label {
  padding-top: 0.75em;
  line-height: 2em;
  font-size: var(--step--4);
  font-weight: var(--bold);
  font-family: "Space Mono", monospace;
  color: var(--moreDark);
}

#buttonGrid {
  display: grid;
  gap: 0.3rem;
  grid-template: repeat(3, 35px) / repeat(2, 1fr);
}

#tip {
  height: 2.5em;
  width: 90%;
  background-color: var(--veryDark);
  border-radius: 5px;
  border: none;
  color: var(--veryLight);
  font-weight: var(--bold);
  text-align: center;
  font-family: "Space Mono", monospace;
}

#tip:hover {
  background-color: var(--strongCyan);
  color: var(--veryDark);
}

#tip:active {
  background-color: var(--dark);
  color: var(--veryDark);
}

#custom {
  width: 90%;
  border-radius: 5px;
  background-color: var(--veryLight);
  border: none;
  font-family: "Space Mono", monospace;
  font-size: var(--step--4);
  text-align: center;
  font-weight: var(--bold);
  color: var(--veryDark);
  padding: 0 0.175em;
}

/*********** 
MEDIA QUERIES 
************/

@media screen and (min-width: 750px) {
  #buttonGrid {
    grid-template: repeat(2, 35px) / repeat(3, 1fr);
    gap: 0.35em;
  }
  #tip,
  #custom {
    width: 100%;
  }
}












/* experimental */

.isSelected {
    transform: scale(5);
  }